<div class="Checkout"><%= t(:order_summary) %></div>
  <ul>
    <li><label><%= t(:item_total) %>: </label><%= number_to_currency order.item_total %></li>
   <% order.adjustments.eligible.each do |adjustment| %>
    <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
      <li>
        <label><%= adjustment.label %>: </label><%= number_to_currency adjustment.amount %>
      </li>
    <% end %>
    <li class="confirmTotal" data-hook="order_total">
      <label><%= t(:order_total) %>:</label>
      <%= number_to_currency order.total %>
    </li>
    <% if order.price_adjustment_totals.present? %>
      <li id="price-adjustments" data-hook="order_details_price_adjustments">
        <% order.price_adjustment_totals.keys.each do |key| %>
            <label><%= key %>: </label>
            <%= number_to_currency order.price_adjustment_totals[key] %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

