<% content_for :head do %>
  <%= javascript_include_tag states_path %>
<% end %>
<div id="checkout" data-hook>
<h1><%= t(:checkout) %></h1>

<div id="checkout-step-address" class="clear" >
  <div class="Checkout">Your Checkout Progress</div>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
  <%= checkout_progress %>
  <%= render :partial => 'summary', :locals => { :order => @order } if @order.state != 'confirm' %>
</div>

<%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
  <%= render @order.state, :form => form %>
  <%= submit_tag nil, :id => 'post-final', :style => 'display:none;' %>
<% end %>
